body, input, textarea, button, select{
	font-family: Roboto, sans-serif;
	font-size: 14px;
	color: $textColor;
}

/*******Homepage Styles******/

//Header
#header{
	background:#fff;
	@include imgCover('../img/homepage/stoneland-header.jpg');
	height: 200px;
	width: 100%;

	@include desktop{
		height: 350px;
	}

	h1{
		color:#fff;
		padding-top:3em;
		text-transform: uppercase;

		@include desktop{
			padding-top: 6em;
		}
	}
}

//Main content wrapper
.content{
	padding: 1em 3em;

	@include tablet{
			padding: 0 5em;
		}

	@include desktop{
		padding: 0 10em;
	}

	h2{
		margin: 0 0 1em;
	}

	p{
		line-height: 20px;
	}
}

//content exention for full with displays on mobile
.content-fullwidth{
	padding: 0;
	@extend .content;
	@include tablet{
			padding: 0 5em;
		}

	@include desktop{
		padding: 0 10em;
	}
}

//Background scotland map image
#scotland{
	@include imgCover('../img/homepage/map.png');
	background-size:100%;
	background-position: 50% 15%;
}

//Empty spacer
#content-spacer{
	height:200px;

	@include desktop{
		height: 768px;
	}
}

footer{
	padding: 2em 0;
	div{
		width: 150px;
		margin: 0 auto;
		img{
			display: inline-block;
			padding: 0 1em;
		}
	}
}

//button div
.black-btn{
	margin: -1.5em 0 0.5em;
	width:100%;

	button{
		background: $textColor;
		color:#fff;
		display: block;
		margin: 0 auto;
		font-weight: 700;
		padding:14px 30px;
		letter-spacing: 1px;
		border-radius:24px;
		text-transform: uppercase;

		img{
			display: inline-block;
			vertical-align: middle;
			width: 1em;
		}
	}
}


//black line constructor
%black-line-constructor{
	border-bottom: 1px solid #000;
	margin: 1.5em 0;
	width: 100%;
}

.black-line{
	@extend %black-line-constructor;
}

//black line extender with no margin
.black-line-no-margin-bottom{
	@extend %black-line-constructor;
	margin: 0;
}

