%lightbox-container{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lightbox{
	position: fixed;
	z-index: 999;
	display: none;
	opacity: 0;
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear;

	@extend %lightbox-container;

	.backdrop{
		@extend %lightbox-container;
		position: absolute;
		z-index: 10;
		background: $textColor;
		opacity: 0.7;
		
	}

	.lightbox-content{
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right: 0;
		width: 60%;
		height: 60%;
		z-index: 11;
		margin: auto;
		-webkit-box-shadow: 1px 1px 5px #000;
		box-shadow: 1px 1px 5px #000;
	}

	.body{
		width: 100%;
		height: 100%;

	}

	iframe{
		@extend .body;
		border: 0;
		display: block;
	}

	

	.close {
		position: absolute;
		right: -15px;
		top: -75px;
		width: 32px;
		height: 32px;
		padding: 1em;
		cursor: pointer;
	}

	.close:before, .close:after {
		position: absolute;
		content: ' ';
		height: 33px;
		width: 3px;
		background-color: #fff;
	}
	.close:before {
		@include menuAnimationRotate(45deg);
	}
	.close:after {
		@include menuAnimationRotate(-45deg);
	}

	&.show{
		display: block;
	}

	&.open {
		opacity: 1;
	}

	//Borrowed from a friend
	.chevron-arrow-forward{
		@include chevron(#fff, -45deg);
		position: absolute;
		top: 30%;
		right: -50px;
	}

	.chevron-arrow-backward{
		@include chevron(#fff, 135deg);
		position: absolute;
		top: 30%;
		left: -50px;
	}

}