@mixin imgCover($url){
	background: #fff;
	background-image:url($url);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit:cover;
}

@mixin chevron($color, $deg){
	display: inline-block;
	border-right: 3px solid $color;
	border-bottom: 3px solid $color;
	width: 15px;
	height: 15px;
	@include menuAnimationRotate($deg);
	cursor:pointer;
}

@mixin menuAnimationRotate($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

//Breakpoints def
//Targeted for tablets
@mixin tablet{
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}){
		@content;
	}
}

//Targeted for desktops
@mixin desktop{
	@media (min-width: #{$desktop-width}){
		@content;
	}
}

//Targeted for projectors


//Anything that needs to be position higher than moble view
@mixin tabletAndHigher{
	@media (min-width: #{$tablet-width}){
		@content;
	}
}