/*******RESET******/

//Boilerplate css reset for all browsers

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}

main, li{
  display: block;
}

div{box-sizing:border-box;}

//h1, h2, h3, h4 {font-size: inherit;}

table{border-collapse:collapse;
  border:none;}

td{padding:0px;}

strong{ font-weight:bold; }

a, button {
  color: inherit;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
}

a{ text-decoration: none;}

button{
  overflow: hidden;
  border: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner{
  padding: 0;
  border: 0;
}

//:focus{outline: 0;}

img{
  max-width: 100%;
  height: auto;
  border:0;
  display: block;
}

video{
  max-width: 100%;
  max-height: 100%;
}