@import 'vars';
@import 'mixin';
@import 'reset';
@import 'lightbox';
@import 'thumb';
@import 'three-column';
@import 'homepage';

//One off styles
.center{
	text-align: center;
}

#test{
	display:none;
}