//Three column div container
%three-column-container{

	div{

		@include tablet{
			margin: 0 auto;
		}

		h3{
			margin: 1em 0 0;
		}

		p{
			margin: 0 0 1em;
		}
	}

	@include desktop{
		font-size: 0;
		div{
			display: inline-block;
			width: 33%;
			padding: 0 1em;
			font-size: 14px;
			vertical-align: top;
		}	
	}	
}

.three-column{
	@extend %three-column-container;

	//three column extender for the full width hi-quality img at the bottom.
	&-smfullwidth-showone{
		@extend %three-column-container;
		div{

			@include desktop{
				padding-bottom: 3em;
			}

			//Hiding the other images on mobile
			&:not(:first-child){
				display: none;
				@include desktop{
					display: inline-block;
				}
			}

			&:first-child{
				//Image replacement
				@include imgCover('../img/slideshow/stoneland-gallery-2.jpg');
				height: 250px;
				img{
					display: none;
				}

				@include desktop{
					background: #fff;
					height: 100%;
					img{
						display: block;
					}
				}
			}
		}
	}
	
}